<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/password/reset" method="post">
        <input type="hidden" name="token" id="token" value="<%=token%>">
        <input type="text" name="email" id="email" value="<%=email%>">
        <input type="text" name="password" id="password" placeholder="password">
        <input type="submit">
    </form>
</body>
</html>